/10paskaitaTrinameirasus
/11-12paskaitosPratimas
/13paskaitaSQL
/14paskaitaKuriameMySQLserverį
/15paskaitaUzduotiesSprendimas
/18paskaita2lenteliupraktika
/19paskaitaPasitreniruojameSuKeliomisLentelėmis
/1paskaitaNode.js
/2paskaitaRest.Cors
/3paskaitaExpress.jsKurimas
/4paskaitaDinaminiaiRoutai
/5paskaitaENVslaptaInformacijaDuomenubazes
/6paskaitaMongoDBduomenubaze
/7paskaitaJungiameExpresssuMongoDB
/8paskaitaMongoDBFiltravimasirRikiavimas
/9paskaitaDarbassu keliomisKolekcijomis